/* Centrer le titre horizontalement */
.titre {
    display: flex;
    justify-content: center;
    margin: 0;
}

/* Style du header */
header {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column; /* Aligner les éléments en colonne (titre puis boutons) */
    justify-content: center; /* Centrer verticalement dans le header */
    align-items: center; /* Centrer horizontalement dans le header */
    height: 100px; /* Hauteur fixe pour le header */
}

.formulaire_inscription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 15px auto;
    max-width: 300px; /* Limit the fieldset's width */
    gap: 15px;
}

/* Style des boutons */
.bouton_login, .bouton_signin, .bouton_retour {
    background-color: lightskyblue;
    border: none;
    color: white;
    padding: 10px 80px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Espace entre le titre et les boutons */
}

/* Conteneur des boutons alignés à droite (plus besoin ici, on centre directement les boutons) */
.boutons_co_et_inscription {
    display: flex;
    justify-content: center;  /* Aligner les boutons horizontalement au centre */
    margin-top: 10px; /* Espacement entre le titre et les boutons */
}